.content {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}

.form {
    width: 100%;
    max-width: 680px;
}

.form h1 {
    text-align: center;
}

.login-form__input--text {
    width: 100%;
}
.login-form__input--text input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.form__button {
    width: 100%;
}

.form__button-submit {
    width: 100%;
    color: #fff;
    border: none;
    background-color: rgb(255, 90, 90);
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.header-nav__link {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.form__error {
    color: #FF5555;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
    min-height: 20px;
    line-height: 1.4;
    display: block;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .content {
        width: 80%; 
    }

    .form {
        max-width: 550px;
        padding: 40px; 
    }

    .form h1 {
        font-size: 28px;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .content {
        width: 60%; 
    }

    .form {
        max-width: 680px; 
        padding: 60px;
    }

    .form h1 {
        font-size: 36px;
        margin-bottom: 40px;
    }

    .login-form__input--text input {
        padding: 18px;
        font-size: 18px;
    }

    .form__button-submit {
        padding: 20px;
        font-size: 20px;
    }
}